.service__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafff9;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.service__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service__card {
  text-align: center;
  /* margin-block: 40px; */
}

.service__textz h4 {
  margin-block: 20px;
  color: #2f512f;
}

.service__icon {
  color: #40aeef;
  font-size: 23px;
}
