.service__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafff9;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.service__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service__card {
  text-align: center;
  border: 1px solid #e4e82c;
  overflow: hidden;
  border-radius: 7px;
}

.service__card:hover {
  transform: scale(1.01);
  transition: transform 0s ease-in-out;
}

.service__card > div {
  position: relative;
}

.service__textz h4 {
  margin-block: 20px;
  color: #2f512f;
}

.service__icon {
  color: #40aeef;
  font-size: 20px;
  position: absolute;
  right: 30px;
  bottom: -20px;
  background: #30383b;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.service__img {
  height: 250px;
  overflow: hidden !important;
}

.card__hover:hover > div > .service__img > img {
  transform: scale(1.09);
  height: 250px;
  overflow: hidden;
  transition: transform 1.5s ease-in-out;
}

.card__hover:hover > div > .service__icon {
  color: #fff;
  background: #40aeef;
  transition: all 1.5s ease;
}
