.service__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafff9;
  min-height: 90vh;
}

.service__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service__wrapper3 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.service__card {
  text-align: center;
  margin-block: 40px;
}

.service__textz > p {
  max-width: 220px;
  line-height: 2rem;
  color: #545f63;
}

.service__textz h4 {
  margin-block: 20px;
  color: greenyellow;
}

.service__icon {
  color: #40aeef;
  font-size: 23px;
}
