.intro__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 72px; */
}

.intro__wrapper2__img {
  max-width: 400px;
}

.intro__wrapper2 {
  display: flex;
  gap: 10px;
  line-height: 2rem;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.intro__wrapper2 p {
  max-width: 700px;
}

/* .intro__wrapper2__text > button {
  border: none;
  padding: 16px 16px;
  background-color: #366937;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
} */
/* 
.intro__wrapper2__text > button:hover {
  background-color: #385638;
} */

.intro__wrapper2__text p {
  color: #545f63;
}
