.testmonial__container {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets1/images/6.jpg") no-repeat;
  background-size: cover;
}

.testmonial__slider {
  width: 100%;
}

.testmonial__wrapper {
  display: flex;
  flex-direction: column;
}

.testmonial__yeah {
  text-align: center;
  padding-top: 88px;
  color: #fff;
  padding-bottom: 44px;
}

.testmonial__yeah h1 {
  font-weight: 100;
}

.each-slide {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.each-slide > img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 1rem;
}

.slidex {
  width: 70%;
  text-align: center;
  margin: 0px auto;
}
