.team__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.team__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.team__card {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 60px;
}

.team__card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 32px;
}

.team__card__text {
  text-align: center;
}

.team__card__item h3 {
  color: #30383b;
  padding-block: 1rem;
}

.team__card__item p {
  color: #40aeef;
  font-weight: 500;
}

.team__card__img > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
