.head__wrapper {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ededed;
  min-height: 6vh;
}

.head__wrapper1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.head__wrapper1 {
  color: #40aeef;
  font-size: 15px;
}

.head__icon {
  color: greenyellow;
  font-size: 20px;
}

.none {
  display: none;
}

@media screen and (max-width: 991px) {
  .head__wrapper {
    min-height: 4vh;
  }
}
