.service__wrapper10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 17vh;
  background-color: #fafff9;
}

@media screen and (max-width: 991px) {
  .service__wrapper10 {
    min-height: 8vh;
  }
}

/* fafff9
#f0ffef */
