.service__containr {
  padding-bottom: 5rem;
  overflow: hidden;
}

.service__wrapper0 h2 {
  font-weight: 100;
}

.service__wrapper0 p {
  font-weight: 100;
}

.service__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.service__wrapper3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
}

.service__img > img {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}

.service__textz {
  text-align: center;
  padding: 0 10px;
}

.service__textz > p {
  line-height: 2rem;
  color: #545f63;
  width: 100%;
}

.service__textz h4 {
  margin-block: 20px;
  /* color: greenyellow; */
}

/* .service__btn {
  border: none;
  padding: 16px 24px;
  background-color: #356736;
  color: #fff;
} */

.service__wrapper1 {
  color: #30383b;
  text-align: center;
  margin-top: 48px;
}

.service__wrapper1 h1 {
  font-weight: 100;
}

.service__button {
  margin-block: 1rem;
}

.card__hover:hover > .service__img {
  transform: scale(1.04);
  overflow: hidden;
  transition: transform 1.5s;
  /* height: 100%; */
}
