@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

.middle__class {
  padding: 0 40px;
}

@media screen and (max-width: 991px) {
  .middle__class {
    padding: 0 20px;
  }
}
