.nav__wrapper1 {
  position: relative;
}

.head__nav {
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
}

.nav__container {
  height: 12vh;
  background-color: #2f512f;
  color: #ffffff !important;
  position: relative;
  width: 100%;
  transition: 0.7s ease-in-out;
  box-shadow: 0 1px 1px -1px rgb(165, 165, 165);
}

.nav__container1 {
  height: 12vh;
  background-color: #ffffff;
  color: #366937;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  /* margin-bottom: 1rem; */
  transition: 0.7s ease-in-out;
  box-shadow: 0 1px 1px -1px #e4e82c;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.1s ease-in-out;
}

.nav__ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
}

.nav__ul li {
  padding-left: 30px;
  /* color: green; */
  font-weight: 500;
}

.nav__ul li:hover {
  color: yellowgreen;
}

.nav__icons {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav__icons {
    display: block;
  }
  .nav__container1 {
    height: 8vh;
  }
  .nav__container {
    height: 8vh;
    width: 100%;
  }

  .nav__wrapper2 {
    position: absolute;
    top: calc(100% + 0vh);
    left: -100%;
    /* background-color: #ffffff; */
    width: 100%;
    z-index: 100;
    transition: ease 0.8s;
    font-weight: 600;
  }

  .nav__wrapper2.active {
    left: 0;
  }

  .nav__wrapper2 .nav__ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    background-color: rgba(180, 196, 115, 0.6);
    padding-block: 1rem;
    color: black;
    line-height: 3em;
  }
}
